In [268]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.model_selection import cross_val_score

In [269]:
titanic = pd.read_csv('./train.csv')
print(titanic.head(20))
missing_data = titanic.isnull()
#missing_data.head()

    PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2             3         1       3
3             4         1       1
4             5         0       3
5             6         0       3
6             7         0       1
7             8         0       3
8             9         1       3
9            10         1       2
10           11         1       3
11           12         1       1
12           13         0       3
13           14         0       3
14           15         0       3
15           16         1       2
16           17         0       3
17           18         1       2
18           19         0       3
19           20         1       3

                                                 Name     Sex   Age  SibSp  \
0                             Braund, Mr. Owen Harris    male  22.0      1
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                              Heikkinen, Miss. Laina  female  26.0      0
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                            Allen, Mr. William Henry    male  35.0      0
5                                    Moran, Mr. James    male   NaN      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
7                      Palsson, Master. Gosta Leonard    male   2.0      3
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0
12                     Saundercock, Mr. William Henry    male  20.0      0
13                        Andersson, Mr. Anders Johan    male  39.0      1
14               Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                   Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
16                               Rice, Master. Eugene    male   2.0      4
17                       Williams, Mr. Charles Eugene    male   NaN      0
18  Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
19                            Masselmani, Mrs. Fatima  female   NaN      0

    Parch            Ticket     Fare Cabin Embarked
0       0         A/5 21171   7.2500   NaN        S
1       0          PC 17599  71.2833   C85        C
2       0  STON/O2. 3101282   7.9250   NaN        S
3       0            113803  53.1000  C123        S
4       0            373450   8.0500   NaN        S
5       0            330877   8.4583   NaN        Q
6       0             17463  51.8625   E46        S
7       1            349909  21.0750   NaN        S
8       2            347742  11.1333   NaN        S
9       0            237736  30.0708   NaN        C
10      1           PP 9549  16.7000    G6        S
11      0            113783  26.5500  C103        S
12      0         A/5. 2151   8.0500   NaN        S
13      5            347082  31.2750   NaN        S
14      0            350406   7.8542   NaN        S
15      0            248706  16.0000   NaN        S
16      1            382652  29.1250   NaN        Q
17      0            244373  13.0000   NaN        S
18      0            345763  18.0000   NaN        S
19      0              2649   7.2250   NaN        C

In [270]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

PassengerId
False    891
Name: PassengerId, dtype: int64

Survived
False    891
Name: Survived, dtype: int64

Pclass
False    891
Name: Pclass, dtype: int64

Name
False    891
Name: Name, dtype: int64

Sex
False    891
Name: Sex, dtype: int64

Age
False    714
True     177
Name: Age, dtype: int64

SibSp
False    891
Name: SibSp, dtype: int64

Parch
False    891
Name: Parch, dtype: int64

Ticket
False    891
Name: Ticket, dtype: int64

Fare
False    891
Name: Fare, dtype: int64

Cabin
True     687
False    204
Name: Cabin, dtype: int64

Embarked
False    889
True       2
Name: Embarked, dtype: int64

In [271]:
titanic[['Age']] = titanic[['Age']].astype('float')
titanic.dropna(subset=['Embarked'],axis = 0,inplace=True)
titanic.reset_index(drop=True,inplace=True)
titanic['Cabin'].replace(np.nan, titanic['Cabin'].value_counts().idxmax(),inplace=True)
age_mean = titanic['Age'].mean(axis=0)
titanic['Age'].replace(np.nan,age_mean,inplace=True)
titanic['Sex'].replace('male',1,inplace=True)
titanic['Sex'].replace('female',0,inplace=True)
titanic['Embarked'].replace('C',1,inplace=True)
titanic['Embarked'].replace('Q',2,inplace=True)
titanic['Embarked'].replace('S',3,inplace=True)

In [272]:
missing_data = titanic.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

PassengerId
False    889
Name: PassengerId, dtype: int64

Survived
False    889
Name: Survived, dtype: int64

Pclass
False    889
Name: Pclass, dtype: int64

Name
False    889
Name: Name, dtype: int64

Sex
False    889
Name: Sex, dtype: int64

Age
False    889
Name: Age, dtype: int64

SibSp
False    889
Name: SibSp, dtype: int64

Parch
False    889
Name: Parch, dtype: int64

Ticket
False    889
Name: Ticket, dtype: int64

Fare
False    889
Name: Fare, dtype: int64

Cabin
False    889
Name: Cabin, dtype: int64

Embarked
False    889
Name: Embarked, dtype: int64

In [273]:
data = titanic
data.features = data[['Pclass','Sex','Age','SibSp','Parch','Embarked']]
data.target = data.Survived

C:\Users\folgu\AppData\Local\Temp\ipykernel_7688\3465745960.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data.features = data[['Pclass','Sex','Age','SibSp','Parch','Embarked']]
C:\Users\folgu\AppData\Local\Temp\ipykernel_7688\3465745960.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data.target = data.Survived

In [274]:
data.features = preprocessing.MinMaxScaler().fit_transform(data.features) #Se escalan los datos, preprocesan, mejora efectividad
model = KNeighborsClassifier(n_neighbors=10) #K
fittedM = model.fit(data.features,data.target)

In [275]:
dtest = pd.read_csv('./test.csv')
print(dtest)

     PassengerId  Pclass                                          Name  \
0            892       3                              Kelly, Mr. James
1            893       3              Wilkes, Mrs. James (Ellen Needs)
2            894       2                     Myles, Mr. Thomas Francis
3            895       3                              Wirz, Mr. Albert
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)
..           ...     ...                                           ...
413         1305       3                            Spector, Mr. Woolf
414         1306       1                  Oliva y Ocana, Dona. Fermina
415         1307       3                  Saether, Mr. Simon Sivertsen
416         1308       3                           Ware, Mr. Frederick
417         1309       3                      Peter, Master. Michael J

        Sex   Age  SibSp  Parch              Ticket      Fare Cabin Embarked
0      male  34.5      0      0              330911    7.8292   NaN        Q
1    female  47.0      1      0              363272    7.0000   NaN        S
2      male  62.0      0      0              240276    9.6875   NaN        Q
3      male  27.0      0      0              315154    8.6625   NaN        S
4    female  22.0      1      1             3101298   12.2875   NaN        S
..      ...   ...    ...    ...                 ...       ...   ...      ...
413    male   NaN      0      0           A.5. 3236    8.0500   NaN        S
414  female  39.0      0      0            PC 17758  108.9000  C105        C
415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416    male   NaN      0      0              359309    8.0500   NaN        S
417    male   NaN      1      1                2668   22.3583   NaN        C

[418 rows x 11 columns]

In [276]:
dtest[['Age']] = dtest[['Age']].astype('float')
dtest.dropna(subset=['Embarked'],axis = 0,inplace=True)
dtest.reset_index(drop=True,inplace=True)
dtest['Cabin'].replace(np.nan, dtest['Cabin'].value_counts().idxmax(),inplace=True)
age_mean = dtest['Age'].mean(axis=0)
dtest['Age'].replace(np.nan,age_mean,inplace=True)
dtest['Sex'].replace('male',1,inplace=True)
dtest['Sex'].replace('female',0,inplace=True)
dtest['Embarked'].replace('C',1,inplace=True)
dtest['Embarked'].replace('Q',2,inplace=True)
dtest['Embarked'].replace('S',3,inplace=True)


missing_data = dtest.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

PassengerId
False    418
Name: PassengerId, dtype: int64

Pclass
False    418
Name: Pclass, dtype: int64

Name
False    418
Name: Name, dtype: int64

Sex
False    418
Name: Sex, dtype: int64

Age
False    418
Name: Age, dtype: int64

SibSp
False    418
Name: SibSp, dtype: int64

Parch
False    418
Name: Parch, dtype: int64

Ticket
False    418
Name: Ticket, dtype: int64

Fare
False    417
True       1
Name: Fare, dtype: int64

Cabin
False    418
Name: Cabin, dtype: int64

Embarked
False    418
Name: Embarked, dtype: int64

In [277]:
dtest.features = dtest[['Pclass','Sex','Age','SibSp','Parch','Embarked']]
dtest.features = preprocessing.MinMaxScaler().fit_transform(dtest.features)
pred = fittedM.predict(dtest.features)

C:\Users\folgu\AppData\Local\Temp\ipykernel_7688\1605663153.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  dtest.features = dtest[['Pclass','Sex','Age','SibSp','Parch','Embarked']]

In [278]:
#print(pred)
dtest['Survived'] = pred
dtest = dtest[['PassengerId','Survived']]
dtest.set_index('PassengerId',inplace=True)
dtest.to_csv('answer.csv')